<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <title>通讯录管理系统</title>
</head>
<body>
    <h2 align="center">添加联系人</h2>
    <div align="center">
        <button onclick="javascript:history.go(-1)" type="button">返回</button>
    </div>
    <form id="addOne" name="form1" method="post" th:action="@{/addLink}">
        <p>姓名：<input id="newName" name="name" type="text" ></p>
        <p class="gender">
            性别：
            <input type="radio" name="gender" value="1" checked="checked">男士
            <input type="radio" name="gender" value="0" checked="checked">女士
        </p>
        <p>手机：<input id="newTel" name="Tel" type="text" onblur="showPhone()"><span id="uphone-show"></span></p>
        <p>邮箱：<input id="newEmail" name="email" type="text" ></p>
        <p>地址：<input id="newAddr" name="address" type="text" ></p>
        <div>
            <button type="button" onclick="doSubmit()">提交</button>
            <button type="button" onclick="document.getElementById('addOne').reset()">重置</button>
        </div>

    </form>
</body>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script>


    function checkPhone(){
        var result = null;
        var xhr;
        if (window.XMLHttpRequest)
        {
            xhr= new XMLHttpRequest();
        }else{
            xhr= new ActiveXObject("Microsoft.XMLHTTP");
        }
        xhr.open('GET', '/check?uphone='+$("#newTel").val(), false);
        xhr.onreadystatechange = function () {
            if(xhr.readyState==4 && xhr.status==200){
                if(xhr.responseText=="0"){
                    result = false;
                }else{
                    result = true;
                }
            }
        };

        xhr.send(null);
        return result;
    }

    function showPhone(){
        var jk=checkPhone()
        if(jk==null || jk==true){
            $("#uphone-show").html("")
        }else{
            $("#uphone-show").html("该号码已添加过")
        }
    }

    function doSubmit(){
        if(notTextNull("newName")&&notTextNull("newTel")&&notTextNull("newEmail")){
            if(!(isMobile(document.getElementById("newTel").value)))
            {
                alert("手机号格式错误");
                document.getElementById("newTel").focus();
                return true;
            }
            if(!(isEmail(document.getElementById("newEmail").value)))
            {
                alert("邮箱格式错误");
                document.getElementById("newEmail").focus();
                return true;
            }
            document.getElementById('addOne').submit();
        }

    }
    //判断是否为空
    function notTextNull(str)
    {

        if (document.getElementById(str).value=='')
        {
            window.alert("不能为空");
            document.getElementById(str).focus();
            return false;
        }
        return true;
    }
    //判断是否为手机号
    function isMobile(val) {
        var regex = /^[1][0-9][0-9]{9}$/;
        return regex.test(val);
    }

    //判断是否为邮箱
    function isEmail(val) {
        var regex = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
        return regex.test(val);
    }
</script>
</html>