input[type="text"],
input[type="password"]{
    width:200px;
    height:30px;
    font-family:arial
}


input[type="button"],
input[type="submit"],
input[type="reset"] {
    width:60px;
    height:30px;
    font-family:arial;
    -webkit-appearance: none;
    font-size: 20px;
    cursor: pointer;
}

select{
    width:90px;
    height:30px;
    font-family:arial;
    cursor: pointer;
}

.sel_btn{
    width:50px;
    height: 30px;
    line-height: 21px;
    padding: 0 11px;
    border: 1px #26bbdb solid;
    border-radius: 3px;
    background: #e4e4e4;
    font-family:arial;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    color: #000000;
}


button{
    width:60px;
    height:30px;
    font-family:arial;
    font-size: 15px;
    cursor: pointer;
}

.main_box{ width:960px; margin:0px auto; }


table.TableSort{
    font-family:arial;
    background-color: #CDCDCD;
    width: 960px; margin:0px auto;
    cellspacing:"1";
    cellpadding:"0";
    border:0;
}

table.TableSort thead tr th,table.TableSort thead tr td, table.TableSort tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    padding: 4px;
}
table.TableSort thead tr .header {
    background-image: url(../imag/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.TableSort tbody td {
    color: #3D3D3D;
    background-color: #FFF;
    vertical-align: top;
}


#login_box {
    margin:80px auto;
    width:500px;
    padding:10px;
    border:solid 1px #CC9966;
    text-align:center;
}
#login_box img{
    width:40px;
    height:30px ;
}
#pager{
    position: absolute;

    bottom: 0;
    left: 45%;
    width:100%;

    height:80px;
    font-family:arial;
}
#pager input[type="text"]{
    align-self: center;
    width:30px;
    height:25px;
    font-family:arial
}
#pager select,button{
    align-self: center;
    width:60px;
    height:25px;
    font-family:arial;
    cursor: pointer;
}
#pager button{
    background-color: transparent;

    border-style: none;
    background-repeat:no-repeat;
    width: 20px;
    height: 20px;
    margin: 0 5px 0 5px;
}
#pager button.first{

    background-image:url("../imag/first.png");

}
#pager button.prev{

    background-image:url("../imag/prev.png");

}
#pager button.next{

    background-image:url("../imag/next.png");

}
#pager button.last{

    background-image:url("../imag/last.png");

}

#addOne{ width:200px; margin:0px auto;}
#addOne p{ line-height:25px}
#addOne .sex input{ width:30px;}
#editOne{ width:200px; margin:0px auto;}
#editOne p{ line-height:25px}
#editOne .sex input{ width:30px;}